extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

       
        h1 Emre

        
        p.lead.text-light
          | Full Stack JavaScript Developer.

        
        .portfolio-bio
          p
            | I believe in learning Vanilla JavaScript thoroughly before trying out frameworks, which helps me understand how things work in the background. My primary focus as a developer is privacy and security.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        
        ul
          li HTML
          li CSS
          li JavaScript
          li Node.js
          li Express
          li Pug
        h6 Contact Info

        
        ul
          li 123-456-7890
          li emre@example.com

        a.button.expanded(href='https://www.linkedin.com/in/kayanemre/') LinkedIn
        a.button.expanded(href='https://github.com/emrethedev/') GitHub
        a.button.expanded(href='https://twitter.com/nodejs') Twitter
        //- Not a Twitter user, please see sample account above.
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  